{
    "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php"],
    "singleQuote": false,
    "overrides": [
        {
            "files": ["**/*.php"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}
